# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

HACKCLUB_CLIENT_SECRET=""
HACKCLUB_CLIENT_ID=""

# Ari webhooks
ARI_PROGRAM_ID=""
ARI_BASE_URL="https://ari.hackclub.com"
ARI_IN_SECRET=""
ARI_OUT_SECRET=""

# Hackatime API (optional date filters for project stats)
HACKATIME_START_DATE=""
HACKATIME_END_DATE=""
